{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
          <!-- [ breadcrumb ] start -->

          <!-- [ breadcrumb ] end -->
          <div class="main-body">
              <div class="page-wrapper">
                  <!-- [ Main Content ] start -->
                  <div class="row">
                      <div class="col-sm-12">
                          <div class="card">
                              <div class="card-header">
                                  <h5>Modifier Employe</h5>
                              </div>
                              <div class="card-body">

                                   <form  action="" method="POST" enctype="multipart/form-data">
                                       {% csrf_token %}
                                   <div class="row">
                                      <div class="col-md-6">
                                              <div class="form-group">
                                                  <label >nom</label>
                                                  {{user.last_name}}
                                                  <span class="text-error">{{ user.last_name.errors }}</span>
                                              </div>

                                          <div class="form-group">
                                                  <label >Salaire</label>
                                                  {{ employe.salaire }}
                                              <span class="text-error">{{ employe.salaire.errors }}</span>

                                              </div>
                                      </div>
                                      <div class="col-md-6">
                                              <div class="form-group">
                                                  <label>prenom</label>
                                                  {{ user.first_name }}
                                                  {{ user.first_name.errors }}
                                              </div>
                                              <div class="form-group">
                                                  <label >email</label>
                                                  {{ user.email }}
                                                  <span class="text-error">{{ user.email.errors }}</span>
                                              </div>



                                      </div>
                                  </div>
                                       <form/>
                              </div>
                              <button type="submit" class="btn btn-primary">Enregistrer</button>
                          </div>

                  </div>
                  <!-- [ Main Content ] end -->
              </div>
          </div>
      </div>
    </div>

</div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
