{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% csrf_token %}
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
          <!-- [ breadcrumb ] start -->

          <!-- [ breadcrumb ] end -->
          <div class="main-body">
              <div class="page-wrapper">
                  <!-- [ Main Content ] start -->
                  <div class="row">
                      <div class="col-sm-12">
                          <div class="card">
                              <div class="card-header">
                                  <h5>Modifier Voiture</h5>
                              </div>
                              <div class="card-body">
                                   <form role="form" action="" method="POST" enctype="multipart/form-data">
                                       {% csrf_token %}
                                       {{ voiture }}
                                       <button type="submit" class="btn btn-primary">Enregistrer</button>

                                       <form/>
                              </div>
                          </div>

                  </div>
                  <!-- [ Main Content ] end -->
              </div>
          </div>
      </div>
    </div>
</div>
</div>




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
